body{

  font-size:16px;
}

h2,h3,h4,h5,h6{
  font-family:Andale-Mono, monospace;
}

@font-face {
        font-family: cocogoose;
        src: url("../fonts/Cocogoose-Ultralight.ttf");
}
 
h1{
	font-family: 'cocogoose';
}


p{
  font-family:Andale-Mono, monospace;
}

.navbar-default{
  background:transparent;
 
  border:0;
  font-family:Poppins;
  color : transparent;
}

.navbar-brand{
  font-size:20px;
  color:#ff0000 !important;
  font-weight:bold;
}

.cd-gplay {
  position: absolute;
  left: 31%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width:40%;
  bottom: 20px;
}

#showcase img{
  width:90%;
  float:center;
  margin-top:30px;
  margin-left:60px;
}
.features-left img{
	margin-top:5%;
	width:50%;
}
.features-right {
	margin-top:100px;
}
.beli{
	margin-left:50px;
}
.bayar{
	margin-left:100px;
}

.features-right img{
	width:60px;
	height:60px;
}

.landing-right {
	text-align: center;
	vertical-align: middle;
	margin-top: 50%;
}
.landing-left {
	text-align: center;
	vertical-align: middle;
	margin-top: 50%;
}

.profile-left {
	margin-top:10%;
	text-align:left;
}
.profile-right {
	margin-top:40%;
	vertical-align:center;
	text-align:left;
}

.partner {
	margin-top:100px;
	text-align:center;
}
.visi {
	margin-top:50px;
	text-align:center;
}

#showcase .showcase-right{
  margin-top:90px;
}

#testimonial{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#ff0000;
}

#testimonial p.customer{
  font-size:20px;
  color:#ff0000;
}

#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  background:url(../img/image3.png);
  padding:40px;
  color:#ff0000;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

footer{
  padding:30px;
}
.navbar-left {
 position: absolute;
  left: 20%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
 
	}
